<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Twig test</title>
    {{ htmlFields | striptags | title}}
</head>
<body>
    <header>
        <h1>Hello world</h1>
    </header>
    
    <ul>
        {% for planet in planets %}
            <li>{{ planet }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>