<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Twig test</title>
    <link href="favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="icon.svg" color="#79589F">
</head>
<body>
    <header>
        <h1>Hello world</h1>
    </header>
    
    <ul>
        {% for planet in planets %}
            <li>{{ planet }}</li>
        {% endfor %}
    </ul>
{#
    {% for i in range(0, 3) %}
        Welcome to {{ i }}<br>
    {% endfor %}
#}
    {% filter upper %}

    {{ htmlFields | striptags}}

    {% endfilter %}
    
</body>
</html>