<br>

<article>
<header>
<h1>
Seventeen
</h1>
<h2>
Who is the new Avril song targetted at?
</h2>
</header> 
<p>
The line "those days were long gone" suggests that we don't need seveteen to be a song for teenagers. 
I think the song is about remembering teeanage days so is targetted at everyone who is no longer a teanager. 
Seventeen! 
</p>
</article>
